body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    font-family: sans-serif;
    font-size: 14;

}
.container {
    display: flex;
    max-width: 400px;
    margin: 1px;
    

}

.button {
    padding: 1px;
    border: 1px, solid;
    background-color: white;
    border-radius: 1px;
}

main {
    margin-top: 3px;
}
.mission-statement {
    font-size: 40px;
    color: 


}
.curved-line {
    margin-left: 9.5 ; width: 150;

}
.quote {
    font-size: 20px;
    line-height: 35px;
    margin: 2px auto;
    font-weight: 300;

}

.mission-btn {
    background-color: ;
    color: ;


}
.hero {
    margin: 3px;

}

.hero img{
    width: 100%;
    height: auto;


}
.tablet-hero-img-container,
.desktop-hero-img-container{display: none;}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 16px;
    margin: 3px auto;


}
.bolded-stats {
    font-size: 35px;
}
.stats-text {
    text-transform: uppercase;
    font-weight: 300;
}
.white-space {


}
.jeremy-img-container {
    width: 65%;
    position: absolute;
    left: 4.5px;
    top: 11px;
}
.testimonial-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blurred-bg {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-bottom: 1px;

}
.testimonial {
    position: relative;
    background: 
    color: 
    border-radius: 0.5px;


}

.curved-line-2 {

}
